/.phpunit.cache
/front/node_modules
/public/build
/public/hot
/api/public/storage
/storage/*.key
/api/vendor
/api/.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/api/.idea
/front/.idea
/api/docker/mysql
